* {
    margin: 0;
}



.search {
    display: flex;
    justify-content: space-between;
    margin: 5% 30%
}


h2 {
    font-size: 50px;
}

img {
    width: 64px;
    height: 64px;
}

p {
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
}
.container {
    margin-left: 20%;
    margin-right: 20%;
}

table {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4CAF50;
    color: white;
  }


  .lista {
    display: flex;
    flex-direction: row;
    padding-right: 0.5em;
    justify-content: center;
  }

  .spinner {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }